{{>header}}

    <div class="container container-flex">

            <main class="main-template main-grid">
                <div class="main-text">
                    <h1 class="page-title">Thanks for Signing!</h1>
                    <p class="subtitle">Together we are going to change the face of Eimsbüttel. We can do it!</p>
                    <h2 class="section-title">Verpackung Inititive 2021</h2>
                    <p class="subtitle"> {{total}} people have already voted:</p>
                </div>
                 <div class="signers-list">
                     <ul>
                        {{#signatures}} 
                            <li>
                                {{first_name}} {{last_name}}
                                {{#if age}}
                                    ({{age}})
                                {{/if}}
                                {{#if city}}
                                    <a href="/signers/{{city}}">{{city}}</a>
                                {{/if}}
                                {{#if url}}
                                    <a href="{{clearURL url}}" target="_blank">Homepage</a>
                                {{/if}}
                            </li>
                        {{/signatures}}
                    </ul> 
                 </div>
            </main>
        
        </div>
{{>footer}}

